body {
    padding: 0;
    margin: 0;
    font-family: 'Sigmar One', cursive;
    font-weight: 400;
    /* margin-top: 100px; */
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 30px;
    /* background-color: #644E90; */
    background-repeat: repeat-x;
}

/* .container {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
} */

h1 {
    font-size: 80px;
    text-align: center;
    /* font-style: italic; */
    font-family: Comic Sans MS;
}
h3 {
    text-align: center;
    color: purple;
}

nav ul {
    margin: 0;
    padding: 0px;
    list-style: none;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 420px;
    padding-top: 20px;
    position: relative;
}

nav a {
    color: #644E90;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    
}

nav a:hover {
    color: black
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #644E90;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%; 
}

p{
    font-size: 13px;
}
p4 {
    font-size: 25px;
}

.rounded-circle {
    width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.divider {
    display: block;
    width: 25px;
    height: 25px;
    margin: 5px auto;
}

h3{
    font-size: 32px;
    font-weight: bold;
}

.bg-dark{
    min-width: 576px;
}

input [type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
  }