<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BINGEFLIX</title>
    <link rel="stylesheet" type="text/css" href=" ## " />
    <!--BOOTSTRAP STYLESHEET-->
    <!--SASS STYLESHEET-->
</head>
<body>
    <header>
      <div class="container1">
  <h1>Danielle Pollesche</h1>

  <nav>
      <ul>
   <li><button><a href="home.html">Home</a></button></li> 
   <li><button><a href="login.html">Login</a></button></li>  
   <li><button><a href="reviewresults.html">Reviews</a></button></li>
      </ul>
      </nav>

    </div>
    
  </header> <br>
      <h2>BINGEFLIX</h2>
      <hr />

      <br /> 
      <br />
      
      <p class="footer">Today Is Yesterday's Future </p>
  </body>
</html>