*{margin: 0; padding:0}
body{
    background-color: lightgray;
}
.container {
    width:550px;
    height: auto;
    padding: 20px 30px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 purple;
    margin: auto;
    position: relative;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: -70px;
    color: #644E90;
}

.form-group {
    font-weight: bold;
}
.btn-default {
    margin-left: 80px;
    margin-top: 13px;
}