body {
    padding: 0;
    margin: 15px;
    font-family: 'Sigmar One', cursive;
    font-weight: 400;
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px; */
    background-color: steelblue;
    background-repeat: repeat-x;
    font-size:25px;
}

.container {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

h1 {
  font-size: 65px;
}

nav ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  float: right;
}

nav li {
  display: inline-block;
  margin-left: 375px;
  padding-top: 30px;
  position: relative;
}

nav a {
  color: #644E90;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  
}

nav a:hover {
  color: black
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #644E90;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%; 
}

p{
  font-size: 13px;
}
p4 {
  font-size: 25px;
}

.rounded-circle {
  width: 150px;
height: 150px;
border-radius: 50%;
position: relative;
overflow: hidden;
}

.divider {
  display: block;
  width: 25px;
  height: 25px;
  margin: 5px auto;
}

h3{
  font-size: 32px;
  font-weight: bold;
}

.bg-dark{
  min-width: 576px;
}

input [type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}


.container {
  display: flex;
  width: 95%;
  padding: 1%;
  box-sizing: border-box;
  height: 100%;
}

.container p{
    font-size: 1.8rem;
}

#searchResults img{
  margin: 0px 10px;
  float: left;
}



.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}
.box > span {
  font-size: 25px;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 20%; }
.box:hover > img {
  width: 75%;
  height: 75%;
}
.wrapper {
  width: 600px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.uk-form-label {

  font-size: 1.5rem;
}

.uk-form-input{
  font-size: 1.5rem;
  margin-left: 150px; 
}

.uk-form-textarea {
  font-size: 1.5rem;
  margin-left: 150px; 
  float: left;
}

h3 {
  margin-left: 150px;
  font-size: 40px;
  font-family: Comic Sans MS;
}

.uk-text-center {
  font-size: 90px;
    font-family: Comic Sans MS;
    padding-inline: 10px;
}

.uk-button-secondary {
  margin-left: 150px;
 margin-top: 10px;
}

#animated_div {
  width: 122px;
  height: 65px;
  background: black;
  color: #644E90;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  animation:animated_div 4s 1;
-moz-animation:animated_div 4s 1;
-webkit-animation:animated_div 4s 1;
-o-animation:animated_div 4s 1;
border-radius:15px;
-webkit-border-radius:15px;
} 


@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(65deg);left:0px;}
50% {transform: rotate(0deg);left:1900px;}
55% {transform: rotate(0deg);left:1900px;}
70% {transform: rotate(0deg);left:1900px;background:#0b2d4c;}
90% {transform: rotate(-360deg);left:0px;}
}

